.photo-gallery-page {
    padding: 20px;
    text-align: center;

    .back-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border: none;
        margin-bottom: 30px;
        border-radius: 50%;
        font-size: 16px;
        height: 30px;
        width: 30px;
        left: 20px;
        top: 20px;
        color: #333;
        cursor: pointer;
        transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;

        &:hover {
            background-color: #eaeaea;
        }

        img {
            width: 16px;
            height: 16px;
            margin-left: 3px;
            display: block;
        }
    }

    .photo-gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        // grid-template-rows: repeat(8, 1fr);
        grid-template-rows: auto auto auto;
        align-items: center;
        gap: 8px;

        .photo-item {
            object-fit: cover;
            width: 100%;
            height: 100%;
            cursor: pointer;

            &:hover {
                filter: brightness(90%);
            }
        }

        .div1 {
            grid-column: span 2 / span 2;
            grid-row: span 2 / span 2;
            grid-column-start: 3;
        }

        .div2 {
            grid-row: span 2 / span 2;
            grid-column-start: 3;
            grid-row-start: 3;
        }

        .div3 {
            grid-row: span 2 / span 2;
            grid-column-start: 4;
            grid-row-start: 3;
        }

        .div4 {
            grid-row: span 2 / span 2;
            grid-column-start: 3;
            grid-row-start: 5;
        }

        .div5 {
            grid-row: span 2 / span 2;
            grid-column-start: 4;
            grid-row-start: 5;
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        border-radius: 5px;
        height: 100%;
        margin: 0px 0px;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        overflow: hidden;

        .modal-content {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: default;

            img {
                width: 720px;
                height: 481px;
                object-fit: contain;
            }
        }

        .image-counter {
            position: absolute;
            top: 180px;
            background: black;
            color: white;
            font-size: 16px;
            padding: 5px 10px;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        }

        .close-btn {
            position: absolute;
            top: 20px;
            left: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            color: white;
            gap: 5px;
            border: none;
            font-size: 14px;
            margin: 15px 15px;
            cursor: pointer;
            padding: 18px 35px;
            border-radius: 8px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        .navigation {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            width: 50px;
            height: 50px;
            border: 2px solid #ccc;
            border-radius: 50%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 30px;
            color: white;
            background-color: black;
            cursor: pointer;

            &:hover {
                background-color: #444;
            }

            &.prev {
                left: 20px;
            }

            &.next {
                right: 20px;
            }

            img.icon {
                width: 30px;
                height: 30px;
                margin: 0px 0px;
                object-fit: contain;
                display: block;
            }
        }
    }
}