.stay-index {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-block: .3em;
    }

    h2 {
        margin: 0;
        font-size: 1.3em;
    }

    button {
        margin-inline-end: 0;
    }
}

.show-map-btn {
    position: fixed;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.map-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1100;
}