.app-footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0.7rem 5rem;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    font-size: 0.9rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;

    p {
        color: #222222;
        text-align: left;
        margin: 0;
        line-height: 1.6;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        a {
            color: #222222;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .footer-right {
        display: flex;
        font-size: 0.9rem;
        gap: 1rem;
        align-items: center;

        span {
            cursor: default;
        }

        .clickable {
            color: #222222;
            cursor: pointer;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .dropdown {
            cursor: pointer;
        }
    }
}