.app-header {
    top: 0;
    position: sticky;
    min-height: 80px;

    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    background-color: white;

    nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-inline: 40px;

        .logo {
            display: flex;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            text-decoration: none;
            cursor: pointer;

            h1 {
                color: #ff385c;
                font-size: 22px;
                margin:0;
                margin-left:4px;
            }
        }

    }

}