.app-header {
    box-sizing: border-box;
    top: 0;
    // position: sticky;
    min-height: 80px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    background-color: white;
    z-index: 20;

    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        position: relative;

        margin-inline: 40px;
        margin-top: 20px;
        transition: height 0.9s ease-out;

        //logo
        .logo {
            display: flex;
            font-weight: bold;
            font-family: 'Airbnb Cereal VF', sans-serif;
            text-decoration: none;
            cursor: pointer;

            h1 {
                color: #ff385c;
                font-size: 22px;
                margin: 0;
                margin-left: 4px;
            }
        }

        //filter
        .filter-container {
            border: 1px solid #DDDD;
            box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
            border-radius: 32px;

            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 15px;

            height: 66px;
            width: 850px;
            outline: none;
            display: flex;
            align-items: center;

            transition: 0.3s ease;

            *:not(input) {
                cursor: pointer;
            }

            .filter-action-container {
                font-size: 12px;
                padding-left: 20px;
                margin: 0;
                height: 100%;
                position: relative;
                /* For the pseudo-element */
                display: flex;
                flex-direction: column;
                justify-content: center;

                input {
                    font-size: 14px;
                    width: max-content;
                    font-weight: 500;
                    color: rgb(106, 106, 106);
                    cursor: pointer;
                }
            }

            .filter-container {
                &:not(.not-expanded):hover {
                    background-color: #F5F5F5; // Very light grey for hover
                    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
                }
            }

            .filter-action-container:not(.who)::after {
                content: "";
                position: absolute;
                top: 15%;
                /* Adjust this value for how far down you want the border to start */
                bottom: 15%;
                /* Adjust this value for how far up you want the border to end */
                right: 0;
                width: 1px;
                /* Border thickness */
                background-color: #F5F5F5;
                /* Same as the border color */
            }

            .filter-label {
                font-weight: bold;
                font-size: 12px;
            }

            .filter-action {
                border: none;
                outline: none;
                background: none;
                box-shadow: none;
                padding: 0;
                margin-right: 4px;
                width: max-content;
                height: auto;
                font: inherit;
                color: lightgrey;
            }


            .filter-action:focus {
                outline: none;
                color: none;
                border: none;
                background-color: none;
                box-shadow: none;
            }

            .filter-search {
                border-radius: 50%;
                position: absolute;
                background-color: #ff385c;
                right: 10px;
                stroke: white;
                width: 40px;
                height: 40px;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .short {
                padding-right: 20px;

                >* {
                    font-size: 14px;
                    width: 48px;
                }

                .short:hover {
                    background-color: red;
                }

                .filter-label {
                    width: max-content;
                }

                .add-guests {
                    font-weight: unset;
                    color: #707070;
                    font-size: 14px;
                    line-break: strict;
                }
            }

            .anywhere {
                padding-left: 0px;
            }

        }

        .filter-container:hover {
            box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        }

        .not-expanded {
            width: 380px;
            padding-left: 20px;
            height: 48px;
        }

        //user-controls
        .user-controls {
            background-color: inherit;
            width: 86px;
            margin: 0;
            height: 48px;
            border-radius: 30px;
            border: 1px solid rgb(221, 221, 221);
            padding: 8px 8px 8px 14px;
        }

        .user-controls:hover {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

        }

        .user-controls .controls-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .user-controls-actions {
            color: rgb(106, 106, 106);
        }

        .user-controls-profile {
            color: rgb(106, 106, 106);
        }

        .auth-menu {
            position: absolute;
            top: 50px;
            right: -1px;
            background-color: white;
            border: 1px solid lightgray;
            border-radius: 8px;
            box-shadow: 0 2px 16px #0000001f;
            width: 240px;
            z-index: 1;

            display: flex;
            flex-direction: column;

            .login-action {
                font-weight: bold;
            }

            .auth-menu-item {
                cursor: pointer;
                padding: 8px 16px 8px 16px;
            }

            .auth-menu-item:hover {
                background-color: #F6F6F6;
            }
        }
    }

    nav.expand {
        height: 168px;
    }
}