.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 200;
    // @include scrollbar;


}

.modal {
    background-color: white;
    position: absolute;
    // border-radius: rem(32px);
    margin-block-start: rem(12px);
    padding-inline: rem(32px);
    padding-block: 16px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
    display: flex;
    border-radius: .75rem;
    width: fit-content;
    // max-height: 43.3125rem;
    margin: rem(40px) auto rem(12px) auto;
    background-color: #fff;
    z-index: 210;
    position: relative;
    height: calc(100dvh - rem(52px));
    overflow: scroll;

    button {
        border: none;
        background-color: #fff;
        border-radius: 50%;
        width: rem(24px);
        height: rem(24px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline-end: 1rem;

        &:hover {
            background-color: #B0B0B0;
        }
    }

    &.where-modal {
        width: rem(848px);

        // @include for-normal-header {
        //     width: rem(520px);
        // }
    }

    &.who-modal {
        right: 0;

        &:is(.check-in-modal, .check-out-modal) {
            left: 0;
            right: 0;
        }
    }
}

.modal-open {
    overflow: hidden;
}