.backdrop-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above everything else */
}

.backdrop-content {
    position: relative;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    z-index: 1010; /* Ensure it's above the backdrop */
}
