.headers {
    @media (max-width: 768px) {
        .search-modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: white;
            z-index: 1999;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $header-hover-color;
        }

        &:has(.expand)~* {
            display: none;
        }

        nav {
            &.expand {
                margin: auto;

                a {
                    display: none;
                }
            }

            .filter-container.expanded {
                position: fixed;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                // width: 95vw;
                // max-width: 400px;
                // min-height: 60vh;
                // max-height: 90vh;
                height: 100%;
                grid-template-rows: 1fr;

                background-color: $header-hover-color;
                border: none;
                padding: 12px;
                box-shadow: none;
                border-radius: 0px;
                // box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
                z-index: 2000;
                // padding: 32px 18px 18px 18px;
                overflow-y: auto;
                margin: 0;

                .filter-action-container {
                    font-size: inherit;
                }

                .filters-list {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    width: 100%;
                    margin-block-start: 0;
                    margin-block-end: 24px;
                }
            }

            .filter-container.expanded .filter-action-container {
                padding: 24px;
            }

            .filter-container.expanded .filter-label {
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 8px;
                color: #222;
            }

            .filter-container.expanded input.filter-action {
                font-size: 16px;
                // border: 1px solid #ddd;
                // border-radius: 10px;
                // padding: 12px;
                height: 54px;
                width: 100%;
                background: #fff;
                color: #222;

                &.filter-where {
                    font-size: 0.875rem;
                    font-weight: 400;
                    color: #222222;
                }
            }

            .filter-container.expanded .filter-search {
                width: 100%;
                border-radius: 12px;
                background: #ff385c;
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                height: 48px;
                margin-top: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
            }

            .filter-container.expanded .long-btn svg {
                margin-left: 8px;
            }

            .filter-container.expanded .clear-all {
                color: #222;
                font-size: 15px;
                text-decoration: underline;
                margin-bottom: 12px;
                cursor: pointer;
                background: none;
                border: none;
                text-align: left;
                padding: 0;
            }

            *::after {
                display: none;
            }

            .filter-wrapper {
                &+* {
                    margin-block-start: 12px;
                }

                border-radius: 16px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
                0 4px 6px rgba(0, 0, 0, 0.03);
                background-color: #fff;

                &:has(details[open]) {
                    &:not(:last-child) {
                        flex-grow: 1;
                    }

                    border-radius: 24px;
                    box-shadow: 0 0 0 1px rgb(0 0 0/4%),
                    0 6px 20px rgb(0 0 0/20%);
                }

                .suggested-locations-container {
                    padding-inline-start: 0px;
                }
            }

            .filter-summary {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 3.5rem;
                padding-inline: 20px;
                border-radius: 0px;

                line-height: 1.125rem;
                font-size: 0.875rem;
                font-weight: 500;
                color: $weaker-writing-color;
                letter-spacing: normal;

                *:last-child {
                    color: black;
                }

                ::marker {
                    visibility: hidden;
                    display: none;
                }
            }

            details[open] summary {
                display: none;
            }

            .rdrMonths {
                flex-direction: column;
            }

            .rdrDateRangePickerWrapper {
                margin: auto;
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 0;

                button:first-child {
                    font-weight: 500;
                    text-decoration: underline;
                    font-size: 1rem;
                    cursor: pointer;
                }

                button:last-child {
                    width: auto !important;
                }
            }
        }

        .search-destinaions-wrapper {
            color: $main-writing-color;
            outline: 1px solid #B0B0B0;
            border-radius: 8px;
            margin-block: 16px;

            svg {
                margin-inline: 20px;
            }
        }
    }

    .subtitle {
        margin: 0;
        line-height: clamp(26PX, 1.625rem, 38PX);
        font-size: clamp(22PX, 1.375rem, 32PX);
        font-weight: 700;
        letter-spacing: -0.01375rem;
    }

    .where {
        line-height: clamp(26PX, 1.875rem, 38PX);
        font-size: clamp(22PX, 1.625rem, 32PX);
        letter-spacing: -0.01625rem;
    }
}

.search-btn {
    padding: 14px 24px;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.125rem;
    background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);

    --positionX: 0;
    --positionY: 0;

    background-position: calc((100 - var(--positionX, 0)) * 1%) calc((100 - var(--positionY, 0)) * 1%);

    >* {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}