.stay-filter {
    margin-top: rem(12px);
}


.filters {
    padding-top: 0.5rem;
    position: sticky;
    top: 10px;
    background-color: #fff;
    z-index: 1;


    max-width: 100%;

    // .wrapper {
    //     display: grid;
    //     grid-template-columns: 1fr auto;
    //     gap: 1.5rem;
    //     align-items: center;
    // }
}