.stay-filter {
    margin-top: rem(12px);
}


.filters {
    max-width: 100%;
    padding-top: rem(16px);
    // padding-bottom: rem(14px);
    // position: sticky;
    // top: 10px;
    background-color: #fff;
    // box-shadow: 0 3px 6px rgb(0, 0, 0, 0.06);



    // .wrapper {
    //     display: grid;
    //     grid-template-columns: 1fr auto;
    //     gap: 1.5rem;
    //     align-items: center;
    // }
}