* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    line-break: strict;
    font-family: 'Airbnb Cereal VF', 'AirbnbCereal-med', -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 0.875rem;
    line-height: 1.43;
    color: $main-writing-color;
    background-color: $main-bg-color;
    margin: 0;
    font-synthesis: none;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.6em;
}

img {
    display: inline-block;
    max-width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}