@font-face {
    font-family: 'Airbnb Cereal VF';
    src: url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2 supports variations'), url('https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2') format('woff2-variations');
    font-style: normal;
    unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
    font-display: swap;
}

@font-face {
    font-family: 'AirbnbCereal-med';
    src: url("../../fonts/airbnb-cereal-font/AirbnbCereal_W_Md.otf") format("truetype");
}